{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "sort-imports-es6-autofix", "plugin:prettier/recommended"],
  "extends": ["plugin:prettier/recommended"],
  "parserOptions":  {
    "ecmaVersion": 8,
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "sort-imports-es6-autofix/sort-imports-es6": [2, {
      "ignoreCase": false,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
    }]
  }
}