.controls {
    opacity: 0;
    display: inline-flex;
}

.controls.editable:hover {
    opacity: 1;
}

.controlButton {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.controlButton:hover {
    transform: scale(1.1);
}

tr.row:hover > .controls {
    opacity: 1;
}

tr.row.editable:first-child > .controls {
    opacity: 1;
}

input.inputValidationError {
    border: 1px solid #cd5c5c;
}

input.inputCell:required {
   box-shadow: none;
}